body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(to bottom, #cc66ff 0%, #ccff99 100%);
}
.container {
    background:linear-gradient(to bottom, #cc66ff 0%, #ff9999 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px lavenderblush;
    text-align: center;
}
.options label {
    display: block;
    margin: 5px 0;
}
input[type="text"] {
    width:50vh;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border-radius:5px ;
}
button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
}
button:hover {
    background:lightblue;
    border:1px solid black; ;
    box-shadow:  2px 2px 2px;
}